* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(images/neonbrand.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
    background-color: black;
}

body {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Rockwell;
    font-variant: small-caps;
    line-height: 1.4;
    font-size: 18px;
    color: deepskyblue;
    text-align: center;
}

#page-wrap {
  text-align: left;
  width: 1200px;
  margin: 0 auto;
}

.game:hover {
    color: aliceblue
}

a {
    color: dodgerblue;
}

a:visited {
    color: mediumslateblue;
}

